# hourly
1 * * * * psql -qtXf /cb/logbook.rrdxa.org/rrdxa-log/cron.sql rrdxa

# daily
1 3 * * * psql -qX -o /dev/null -c 'select schedule_events()' rrdxa
5 11 * * * /cb/logbook.rrdxa.org/rrdxa-log/dxchallenge/dxchallenge-mail --mail=1

# weekly
2 3 * * 0 cd /cb/logbook.rrdxa.org/rrdxa-log && ./download-clublogxml
