{% extends 'rrlog/rrdxa.html' %}

{% block header %}

<script>
var spots_table;
var connected_led;
var channel_input;
var current_channel = '';
var ws;

var add_spot = function (spot) {
    var row = spots_table.insertRow(0);

    var cell = row.insertCell(-1); cell.innerText = spot.source;
    //if (spot.spots[0].cluster)
    //    cell.innerText += ' ' + spot.spots[0].cluster;
    var cell = row.insertCell(-1);
    if (spot.spots && spot.spots[0])
        cell.innerText = spot.spots[0].spotter;
    const ts = new Date(spot.spot_time);
    var cell = row.insertCell(-1); cell.innerText = ts.getUTCHours() + ':' + ts.getUTCMinutes().toString().padStart(2, '0');
    var cell = row.insertCell(-1); cell.innerText = spot.band || '??';
    var cell = row.insertCell(-1); cell.innerText = spot.qrg;
    var cell = row.insertCell(-1); cell.innerText = spot.mode || '';
    if (spot.mode == "CW" && spot.wpm)
        cell.innerText += " " + spot.wpm + " wpm";
    var cell = row.insertCell(-1); cell.innerHTML = "<b>" + spot.dx + "</b>";
    if (spot.extra && spot.extra.rrdxa_member) {
        if (spot.dx != spot.extra.rrdxa_member)
            cell.innerHTML += ' ' + spot.extra.rrdxa_member;
        row.style.backgroundColor = "green";
    }
    var cell = row.insertCell(-1);
    if (spot.dx_loc)
        cell.innerText = spot.dx_loc.substr(0, 6);
    var cell = row.insertCell(-1);
    if (spot.spots && spot.spots[0] && spot.spots[0].info)
        cell.innerText = spot.spots[0].info;

    if (spots_table.rows.length > 500) {
        spots_table.deleteRow(-1);
    }
};

var new_spot = function (evt) {
    const spot = JSON.parse(evt.data);
    if (spot.spot) // one spot
        add_spot(spot.spot);
    if (spot.spots) // answer to {"load":xx}
        for (s of spot.spots)
            add_spot(s);
};

var connect = function () {
    connected_led.innerText = "🟢";
    ws.send(JSON.stringify({ "channel": current_channel }));
    if (spots_table.rows.length == 0) {
        ws.send(JSON.stringify({
            "load": 500,
        }));
    }
};

var reconnect = function () {
    connected_led.innerText = "🔴";
    console.log("Disconnected from websocket, reconnecting in 2s ...");
    setTimeout(start_notifier, 2000);
};

var start_notifier = function () {
    console.log("Connecting to websocket");
    if (ws) {
        ws.onclose = undefined;
        ws.close();
    }
    ws = new WebSocket("ws://localhost:8000/ws/spot/");
    ws.onopen = connect;
    ws.onclose = reconnect;
    ws.onmessage = new_spot;
};

var set_channel = function () {
    const channel = channel_input.value;
    if (!channel || channel == current_channel) return;
    console.log("Switching to channel " + channel);

    while (spots_table.rows.length > 0)
        spots_table.deleteRow(-1);

    current_channel = channel;
    ws.send(JSON.stringify({
        "channel": current_channel,
        "load": 500,
    }));
};

var main = function (data) {
    spots_table = document.getElementById('spots_table');
    connected_led = document.getElementById('connected_led');
    channel_input = document.getElementById('channel_input');
    current_channel = channel_input.value;
    start_notifier();
};
</script>

{% endblock %}

{% block bodyopts %} onload="main()" {% endblock %}

{% block content %}

<h1>RRDXAi Cluster <span id="connected_led">🔴</span></h1>

<div>
<input type="text" value="cluster" id="channel_input">
<input type="submit" value="Set" onclick="set_channel()">
</div>

<table>
<thead>
<tr>
    <th>Source</th>
    <th>Spotter</th>
    <th>Time</th>
    <th>Band</th>
    <th>Freq</th>
    <th>Mode</th>
    <th>DX</th>
    <th>Loc</th>
    <th>Info</th>
</tr>
</thead>
<tbody id="spots_table"></tbody>
</table>

{% endblock %}
