{% extends 'rrlog/rrdxa.html' %}
{% load humanize %}

{% block content %}
<h1>{{title}}</h1>

<h2>Contests and Events</h2>

<table border=0>
<thead>
<tr>
 <th>Event</th>
 <th>contest</th>
 <th>station</th>
 <th>exch</th>
 <th>QSOs</th>
 <th>score</th>
 <th>category</th>
 <th>mode</th>
 <th>band</th>
 <th>power</th>
 <th>assisted</th>
 <th></th>
</tr>
</thead>

{% for entry in entries %}
 <tr>
 <td><a href="/log/event/{{entry.event|urlencode:''}}/"><b>{{entry.event|default_if_none:''}}</b></a></td>
 <td><a href="/log/contest/{{entry.contest|urlencode:''}}/"><b>{{entry.contest|default_if_none:''}}</b></a></td>
 <td>
  <a href="/log/summary/{{entry.upload_id}}/">{{entry.station_callsign|default_if_none:''}}</a>
  {% if entry.operators %} ({{entry.operators}}){% endif %}
</td>
 <td>{{entry.exchange|default_if_none:''}}</td>
 <td style="text-align: right;">{{entry.qsos|default_if_none:''|intcomma}}</td>
 <td style="text-align: right;">{{entry.claimed_score|default_if_none:''|intcomma}}</td>
 <td>{{entry.category_operator|default_if_none:''}}</td>
 <td>{{entry.category_mode|default_if_none:''}}</td>
 <td>{{entry.category_band|default_if_none:''}}</td>
 <td>{{entry.category_power|default_if_none:''}}</td>
 <td>{{entry.category_assisted|default_if_none:''}}</td>
 <td>
  {{entry.category_overlay|default_if_none:''}}
  {{entry.category_time|default_if_none:''}}
 </td>
 </tr>
{% endfor %}
</ul>
</table>

<br>

{% include 'rrlog/qsos.html' %}
{% endblock %}
