{% extends 'rrlog/rrdxa.html' %}
{% load humanize %}

{% block content %}
<h1>{{title}}</h1>

<table border=0>
<thead>
<tr>
 <th>Call</th>
 <th>QSOs</th>
 <th>multi</th>
 <th>score</th>
 <th>events</th>
</tr>
</thead>

{% for entry in entries %}
 <tr>
 <td><a href="/log/call/{{entry.call|urlencode:''}}/"><b>{{entry.call}}</b></a></td>
 <td style="text-align: right;">{{entry.qsos|intcomma}}</td>
 <td style="text-align: right;">{{entry.multis|intcomma}}</td>
 <td style="text-align: right;"><b>{{entry.score|intcomma}}</b></td>
 <td>
 {% for event in entry.events %}
 <span style="{% if event.1 >= 60 or event.vhf and event.1 >= 30 %}font-weight: bold;{% endif %}">
 <a href="/log/event/{{event.0|urlencode:''}}/"><span style="{% if event.3 %}color: red;{% endif %}">{{event.0}}</span></a>
 <a href="/log/summary/{{event.2|urlencode:''}}/">{{event.1}}</a></span>{% if not forloop.last %},{% endif %}
 {% endfor %}
 </td>
 </tr>
{% endfor %}
</table>

{% endblock %}
