{% extends 'rrlog/rrdxa.html' %}
{% load humanize %}

{% block content %}
<h1>{{title}}</h1>

<table border=0>
<thead>
<tr>
 <th>Call</th>
 <th>QSOs</th>
 <th>multi</th>
 <th>score</th>
 <th>events</th>
</tr>
</thead>

{% for entry in entries %}
 <tr>
 <td><a href="/log/call/{{entry.call|urlencode:''}}/"><b>{{entry.call}}</b></a></td>
 <td style="text-align: right;">{{entry.qsos|intcomma}}</td>
 <td style="text-align: right;">{{entry.multis|intcomma}}</td>
 <td style="text-align: right;"><b>{{entry.score|intcomma}}</b></td>
 <td>
 {% for event in entry.events %}
 <span style="{% if event.qsos >= 60 or event.vhf and event.qsos >= 30 %}font-weight: bold;{% endif %}">
 <a href="/log/event/{{event.event|urlencode:''}}/"><span style="{% if event.vhf %}color: red;{% endif %}">{{event.event}}</span></a>
 ({% if entry.call != event.station_callsign %}{{event.station_callsign}} {% endif %}<a href="/log/summary/{{event.upload_id|urlencode:''}}/">{{event.qsos}}</a>)</span>{% if not forloop.last %},{% endif %}
 {% endfor %}
 </td>
 </tr>
{% endfor %}
</table>

<br>
<div>
<em>
<span style="color: red;">rot</span> = VHF+ log,
<span style="font-weight: bold;">bold</span> = valid log with 60+ QSOs (30+ on VHF+)
</em>
</div>

{% endblock %}
