{% extends 'rrlog/rrdxa.html' %}
{% load humanize %}

{% block content %}
<h1>Contests and Events</h1>

<table border=0>
<thead>
<tr>
 <th>Event</th>
 <th>Cabrillo</th>
 <th>logs</th>
 <th>time</th>
</tr>
</thead>

{% for event in events %}
 <tr>
 {% ifchanged event.month_str %}
 <th colspan="4" style="text-align: left;">{{event.month_str}}</th>
 {% else %}
 <td><a href="/log/event/{{event.event|urlencode:''}}/"><b>{{event.event}}</b></a></td>
 <td>{{event.cabrillo_name|default_if_none:''}}</td>
 <td style="text-align: right;"><b>{{event.count|intcomma}}</b></td>
 <td>{{event.start_str}} - {{event.stop_str}}</td>
 {% endifchanged %}
 </tr>
{% endfor %}
</table>

<h2>Create New Event<a name="new"></a></h2>

<form action="/log/event/" method="POST" enctype="multipart/form-data">
<table border=0>
<tr><td>Event name</td> <td><input name="event"> Name for this event, e.g. <tt>CQ-WW-CW 2023</tt> </td></tr>
<tr><td>Cabrillo name </td> <td><input name="cabrillo_name"> Cabrillo contest name, e.g. <tt>CQ-WW-CW</tt> </td></tr>
<tr><td>Event start</td> <td><input name="start" value="{{today}} 0:00"> UTC</td></tr>
<tr><td>Event end</td> <td><input name="end" value="{{today}} 24:00"> UTC</td> </tr>
<tr><td></td> <td><button type="submit">Create</button></td></tr>
</table>
</form>

{% endblock %}
