{% extends 'rrlog/rrdxa.html' %}
{% load humanize %}

{% block content %}

<h1>Contests and Events [<a href="/log/event/">view all</a>]</h1>

<table border=0>
<thead>
<tr>
 <th>Event</th>
 <th>logs</th>
 <th>time</th>
</tr>
</thead>

{% for event in events %}
 {% ifchanged event.month_str %}<tr><th colspan="3" style="text-align: left;">{{event.month_str}}</th></tr>{% endifchanged %}
 <tr>
 <td><a href="/log/event/{{event.event|urlencode:''}}/">
  {% if event.count >= 5 %}<b>{{event.event}}</b>{% else %}{{event.event}}{% endif %}
  </a></td>
 <td style="text-align: right;"><b>{{event.count|intcomma}}</b></td>
 <td>{{event.start_str}} - {{event.stop_str}}</td>
 </tr>
{% endfor %}
</table>

<h1>Most Active Operator [<a href="/log/mao/">view all</a>]</h1>

<h2>Current month {{current_month}} [<a href="/log/month/{{current_month}}/">view</a>]</h2>

{% include 'rrlog/operator_stats.html' with operators=current_month_stats month=current_month %}

<h1>250 most recent member-member QSOs [<a href="/log/logbook/">view</a>]</h1>

{% include 'rrlog/qsos.html' %}

{% endblock %}
