{% extends 'rrlog/rrdxa.html' %}

{% block content %}
<h1>RRDXA Logbook</h1>

<h2>Current month</h2>

{% include 'rrlog/operator_stats.html' with operators=current_month %}

<h2>Current year</h2>

{% include 'rrlog/operator_stats.html' with operators=current_year %}

<h2>Previous month</h2>

{% include 'rrlog/operator_stats.html' with operators=previous_month %}

<h2>Previous year</h2>

{% include 'rrlog/operator_stats.html' with operators=previous_year %}

<h2>100 most recent QSOs</h2>

{% include 'rrlog/qsos.html' %}

{% endblock %}
