<table border=0>
<thead>
<tr>
 <th>Operator</th>
 <th>days active</th>
 <th>QSOs</th>
 <th>contest QSOs</th>
 <th><b>RRDXA score</b></th>
 <th>unique calls</th>
 <th>calls per band+mode</th>
 <th>DXCCs</th>
 <th>DXCC slots per band+mode</th>
 <th>grids</th>
 <th>grids per band+mode</th>
</tr>
</thead>

{% for op in operators %}
 <tr>
 <td><b><a href="/log/logbook/?{{qual}}{% if major_mode %}&major_mode={{major_mode}}{% endif %}&call={{op.operator|urlencode:''}}">{{op.operator}}</a></b></td>
 <td>{{op.days_active}}</td>
 <td>{{op.qsos}}</td>
 <td>{{op.contest_qsos}}</td>
 <td><b>{{op.score}}</b></td>
 <td>{{op.calls}}</td>
 <td>{{op.calls_band_mode}}</td>
 <td>{{op.dxccs}}</td>
 <td>{{op.dxccs_band_mode}}</td>
 <td>{{op.grids}}</td>
 <td>{{op.grids_band_mode}}</td>
 </tr>
{% endfor %}
</ul>
</table>
