{% load humanize %}

<table border=0>
<thead>
<tr>
 <th>Operator</th>
 <th>days active</th>
 <th>QSOs</th>
 <th>contest QSOs</th>
 <th><b>RRDXA score</b></th>
 <th>unique calls</th>
 <th>calls per band+mode</th>
 <th>DXCCs</th>
 <th>DXCC slots per band+mode</th>
 <th>grids</th>
 <th>grids per band+mode</th>
</tr>
</thead>

{% for op in operators %}
 <tr>
 <td><b><a href="/log/call/{{op.operator|urlencode:''}}/?{% if month %}month={{month}}{% else %}{% if year %}year={{year}}{% endif %}{% endif %}{% if major_mode %}&major_mode={{major_mode}}{% endif %}">{{op.operator}}</a></b></td>
 <td>{{op.days_active}}</td>
 <td style="text-align: right;">{{op.qsos|intcomma}}</td>
 <td style="text-align: right;">{{op.contest_qsos|intcomma}}</td>
 <td style="text-align: right;"><b>{{op.score|intcomma}}</b></td>
 <td style="text-align: right;">{{op.calls|intcomma}}</td>
 <td style="text-align: right;">{{op.calls_band_mode|intcomma}}</td>
 <td style="text-align: right;">{{op.dxccs|intcomma}}</td>
 <td style="text-align: right;">{{op.dxccs_band_mode|intcomma}}</td>
 <td style="text-align: right;">{{op.grids|intcomma}}</td>
 <td style="text-align: right;">{{op.grids_band_mode|intcomma}}</td>
 </tr>
{% endfor %}
</ul>
</table>
