{% load templatehelpers %}

<table border="0">
<tr>
{% if request.GET %}
{% for key, value in request.GET.items %}
{% spaceless %}
<td>
<form action=".">
  {% for key2, value2 in request.GET.items %}
    {% if key2 != key %}
    <input type="hidden" name="{{key2}}" value="{{value2}}" />
    {% endif %}
  {% endfor %}
  <button type="submit">{{key}}: {{value}}</button>
</form>
</td>
{% endspaceless %}
{% endfor %}
<td>click to remove filter</td>
{% endif %}
{% if show_main_link %}
<td><a href="/log/">return to main page</a></td>
{% endif %}
</tr>
</table>

<br>

<table border=0>
<thead>
<tr>
 <th>Date</th>
 <th>station</th>
 <th>op</th>
 <th>DX call</th>
 <th>DXCC</th>
 <th>band</th>
 <th>freq</th>
 <th>mode</th>
 <th>sent</th>
 <th>recv</th>
 <th>grid</th>
 <th>contest</th>
</tr>
</thead>

{% for qso in qsos %}
 <tr>
 <td>{{qso.start_str}}</td>
 {% if not qso.operator or qso.operator == qso.station_callsign %}
 <td colspan="2"><a href="{{urlpath}}{% relative_url 'call' qso.station_callsign request.GET.urlencode %}">{{qso.station_callsign}}</a></td>
 {% else %}
 <td><a href="{{urlpath}}{% relative_url 'call' qso.station_callsign request.GET.urlencode %}">{{qso.station_callsign}}</a></td>
 <td>{% if qso.operator %}<a href="{{urlpath}}{% relative_url 'call' qso.operator request.GET.urlencode %}">{{qso.operator}}</a>{% endif %}</td>
 {% endif %}
 <td><a href="{{urlpath}}{% relative_url 'call' qso.call request.GET.urlencode %}"><span{% if qso.rrcall %} style="font-weight: bold;"{% endif %}>{{qso.call}}</span></a></td>
 <td>{% if qso.country %}<a href="{{urlpath}}{% relative_url 'country' qso.country request.GET.urlencode %}">{{qso.country|title}}</a>{% endif %}</td>
 <td><a href="{{urlpath}}{% relative_url 'band' qso.band request.GET.urlencode %}">{{qso.band}}</a></td>
 <td>{{qso.freq|default_if_none:''}}</td>
 <td>{% spaceless %}
     <a href="{{urlpath}}{% relative_url 'major_mode' qso.major_mode request.GET.urlencode %}">{{qso.major_mode}}</a>
     {% if qso.major_mode != qso.mode %}
       {% if qso.submode %}
         (<a href="{{urlpath}}{% relative_url 'submode' qso.submode request.GET.urlencode %}">{{qso.mode}}/{{qso.submode}}</a>)
       {% else %}
         (<a href="{{urlpath}}{% relative_url 'mode' qso.mode request.GET.urlencode %}">{{qso.mode}}</a>)
       {% endif %}
     {% endif %}
 {% endspaceless %}</td>
 <td>{{qso.rsttx|default_if_none:''}} {{qso.extx|default_if_none:''}}</td>
 <td>{{qso.rstrx|default_if_none:''}} {{qso.exrx|default_if_none:''}}</td>
 <td>{% if qso.gridsquare %}<a href="{{urlpath}}{% relative_url 'gridsquare' qso.gridsquare request.GET.urlencode %}">{{qso.gridsquare}}</a>{% endif %}</td>
 <td>{% if qso.contest %}<a href="{{urlpath}}{% relative_url 'contest' qso.contest request.GET.urlencode %}">{{qso.contest}}</a>{% endif %}</td>
 </tr>
{% endfor %}
</ul>
</table>
