{% extends 'rrlog/rrdxa.html' %}

{% block content %}
<h1>RRDXA Log Upload</h1>

<div>
<b>{{message|default_if_none:''}}</b>
</div>

<div>
<form action="/log/upload/" method="POST" enctype="multipart/form-data">
<table border=0>
<tr>
 <td>Station callsign used on air:</td> <td><input name="station_callsign" value="{{uploader|urlencode:''}}"> (only used when not specified in logfile)</td>
</tr>
<tr>
 <td>Operator callsign:</td> <td><input name="operator" value="{{uploader|urlencode:''}}"> (only used when not specified in logfile)</td>
</tr>
<tr>
 <td>Contest ID:</td> <td><input name="contest"> (leave blank for non-contest or mixed logfiles)</td>
</tr>
<tr>
 <td>ADIF or Cabrillo logfile:</td> <td><input type="file" name="logfile"></td>
</tr>
<tr>
 <td>Soapbox:</td> <td><textarea name="soapbox" cols="80" rows="20" placeholder="Soapbox - write about your contest story

Only used for Cabrillo uploads. If the Cabrillo file already contains a
soapbox, this entry and the soapbox will both be used. Leave empty if the
Cabrillo already contains the story.

A summary of QSOs and DXCCs by band is computed from the log.

Summary and soapbox will be mailed to the RRDXA reflector."></textarea></td>
</tr>
<tr>
 <td>Mail summary to reflector:</td> <td><input type="checkbox" name="reflector" checked="checked"> (only used for Cabrillo uploads; untick to disable mailing)</td>
</tr>
<tr>
 <td></td> <td><button type="submit">Upload</button>
</tr>
</table>
</form>
</div>

<h2>Your uploads</h2>

<table border=0>
<thead>
<tr>
 <th>Uploader</th>
 <th>time</th>
 <th>QSOs</th>
 <th>timespan</th>
 <th>filename</th>
 <th></th>
 <th></th>
 <th>station callsign</th>
 <th>operator</th>
 <th>contest</th>
 <th>errors</th>
 <th></th>
</tr>
</thead>

{% for upload in uploads %}
 <tr>
 <td>{{upload.uploader}}</td>
 <td>{{upload.ts_str}}</td>
 <td>{{upload.qsos|default_if_none:'-'}}</td>
 <td>{{upload.start_str|default_if_none:''}}-{{upload.stop_str|default_if_none:''}}</td>
 <td><a href="/log/download/{{upload.id}}/">{{upload.filename|default_if_none:'logfile'}}</a></td>
 <td>
  <form action="/log/logbook/" method="GET">
     <input type="hidden" name="upload" value="{{upload.id}}" />
     <button type="submit">view</button>
  </form>
 </td>
 <td>
  {% if upload.category_operator %}
  <form action="/log/summary/{{upload.id}}/" method="GET">
     <button type="submit">summary</button>
  </form>
  {% endif %}
 </td>
 <td><a href="/log/logbook/?call={{upload.station_callsign|urlencode:''}}">{{upload.station_callsign|default_if_none:''}}</a></td>
 <td><a href="/log/logbook/?call={{upload.operator|urlencode:''}}">{{upload.operator|default_if_none:''}}</a></td>
 <td>{% if upload.contest %}<a href="/log/logbook/?contest={{upload.contest|urlencode:''}}">{{upload.contest}}</a>{% endif %}</td>
 <td>{{upload.error|default_if_none:''}}</td>
 <td>
  <form action="/log/upload/" method="POST">
     <button name="delete" value="{{upload.id}}" type="submit">delete</button>
  </form>
 </td>
 </tr>
{% endfor %}
</ul>
</table>

<h2>Notes</h2>

<ul>
<li>
ADIF fields used are:
<a href="https://www.adif.org/314/ADIF_314.htm#Band_Enumeration">BAND</a>,
CALL,
<a href="https://www.adif.org/314/ADIF_314.htm#Contest_ID">CONTEST_ID</a>,
DXCC (<a href="https://www.adif.org/314/ADIF_314.htm#DXCC_Entity_Code_Enumeration">numeric country identifier</a>),
FREQ,
GRIDSQUARE (first 4 chars),
MODE,
SUBMODE,
OPERATOR,
QSO_DATE,
RST_RCVD,
RST_SENT,
SRX,
SRX_STRING,
STATION_CALLSIGN,
STX,
STX_STRING,
TIME_ON (truncated to minute precision).
</li>

<li>
The statistics on this website count <b>QSOs by operator</b>, so make sure the
logfile records properly contain the station callsign (the callsign used on
air) and the operator callsign. If any of these are missing in a QSO record,
they will be taken from the values provided in the upload form above. The
values given above will <em>not</em> override the callsigns in the logfile.
</li>

<li>
Statistics are grouped by major mode:
  <ul>
  <li>CW</li>
  <li>PHONE: SSB, FM, AM, DMR</li>
  <li>FT8: FT8, FT4</li>
  <li>DIGI: RTTY, PSK, HELL, SSTV, everything else</li>
  </ul>
</li>

<li>
Feel free to upload overlapping logfiles or to re-upload logfiles when some of
the contents have changed. The new logfile will be merged into the database,
replacing any already existing QSOs. QSOs are identified by matching time
stamp, station callsign, DX callsign, band and major mode (CW, PHONE, DIGI, FT8).
QSOs are associated with the last upload that contained them; deleting an
upload will only delete the QSOs still associated with it.
</li>
</ul>

{% endblock %}
