{% extends 'rrlog/rrdxa.html' %}

{% block content %}
<h1>Log Upload</h1>

<div>
Upload a log
</div>

{{message}}

<div>
<form action="/log/upload/" method="POST" enctype="multipart/form-data">
{% csrf_token %}
Call: <input name="call"> <br/>
Operator: <input name="operator"> <br/>
Contest: <input name="contest"> <br/>
Logfile: <input type="file" name="logfile"> <br/>
<button type="submit">Upload</button>
</form>
</div>

<h2>Your uploads</h2>

<table border=0>
<thead>
<tr>
 <th>uploader</th>
 <th>time</th>
 <th>filename</th>
 <th>call</th>
 <th>operator</th>
 <th>contest</th>
 <th>QSOs</th>
 <th>error</th>
</tr>
</thead>

{% for upload in uploads %}
 <tr>
 <td>{{upload.person}}</td>
 <td>{{upload.ts_str}}</td>
 <td>{{upload.filename}}</td>
 <td><a href="/log/call/{{upload.call|urlencode:''}}/">{{upload.call}}</a></td>
 <td><a href="/log/call/{{upload.operator|urlencode:''}}/">{{upload.operator}}</a></td>
 <td>{% if upload.contest %}<a href="/log/contest/{{upload.contest|urlencode:''}}/">{{upload.contest}}</a>{% endif %}</td>
 <td>{{upload.qsos|default_if_none:'-'}}</td>
 <td>{{upload.error|default_if_none:''}}</td>
 </tr>
{% endfor %}
</ul>
</table>

{% endblock %}
