{% extends 'rrlog/rrdxa.html' %}

{% block content %}
<h1>{{year}}</h1>

<a href="/log/year/{{prev_year}}/">{{prev_year}} &lt;&lt;</a>
<a href="/log/month/{{year}}-01/">Jan</a>
<a href="/log/month/{{year}}-02/">Feb</a>
<a href="/log/month/{{year}}-03/">Mar</a>
<a href="/log/month/{{year}}-04/">Apr</a>
<a href="/log/month/{{year}}-05/">May</a>
<a href="/log/month/{{year}}-06/">Jun</a>
<a href="/log/month/{{year}}-07/">Jul</a>
<a href="/log/month/{{year}}-08/">Aug</a>
<a href="/log/month/{{year}}-09/">Sep</a>
<a href="/log/month/{{year}}-10/">Oct</a>
<a href="/log/month/{{year}}-11/">Nov</a>
<a href="/log/month/{{year}}-12/">Dec</a>
<a href="/log/year/{{next_year}}/">&gt;&gt; {{next_year}}</a>

{% include 'rrlog/operator_stats.html' %}

{% endblock %}
