<h1>{{year}}</h1>

<a href="/log/year/{{prev_year}}/">{{prev_year}} &lt;&lt;</a>
<a href="/log/month/{{year}}-01/">Jan</a>
<a href="/log/month/{{year}}-02/">Feb</a>
<a href="/log/month/{{year}}-03/">Mar</a>
<a href="/log/month/{{year}}-04/">Apr</a>
<a href="/log/month/{{year}}-05/">May</a>
<a href="/log/month/{{year}}-06/">Jun</a>
<a href="/log/month/{{year}}-07/">Jul</a>
<a href="/log/month/{{year}}-08/">Aug</a>
<a href="/log/month/{{year}}-09/">Sep</a>
<a href="/log/month/{{year}}-10/">Oct</a>
<a href="/log/month/{{year}}-11/">Nov</a>
<a href="/log/month/{{year}}-12/">Dec</a>
<a href="/log/year/{{next_year}}/">&gt;&gt; {{next_year}}</a>

<table border=0>
<thead>
<tr>
 <th>call</th>
 <th>qsos</th>
 <th>calls</th>
 <th>countries</th>
 <th>band-countries</th>
 <th>score</th>
</tr>
</thead>

{% for station in stations %}
 <tr>
 <td><a href="/log/call/{{station.station|urlencode:''}}/">{{station.station}}</a></td>
 <td>{{station.qsos}}</td>
 <td>{{station.calls}}</td>
 <td>{{station.cty}}</td>
 <td>{{station.band_cty}}</td>
 <td>{{station.score}}</td>
 </tr>
{% endfor %}
</ul>
</table>
