[Service]
Type=exec
WorkingDirectory=/cb/logbook.rrdxa.org/rrdxa-log
ExecStart=/usr/bin/daphne -p 8001 rrdxa.asgi:application
ExecReload=/bin/kill $MAINPID
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
