[Service]
Type=exec
WorkingDirectory=/cb/logbook.rrdxa.org/rrdxa-log
ExecStart=/cb/logbook.rrdxa.org/rrdxa-log/manage.py notify_channels
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
