[Service]
Type=exec
WorkingDirectory=/cb/logbook.rrdxa.org/rrdxa-log
ExecStart=/cb/logbook.rrdxa.org/rrdxa-log/gather/cluster dxc.pi4cc.nl
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
