[Service]
Type=exec
WorkingDirectory=/cb/logbook.rrdxa.org/rrdxa-log
ExecStart=/cb/logbook.rrdxa.org/rrdxa-log/gather/cluster -C set/noskimmer dxc.ve7cc.net 23
SyslogIdentifier=ve7cc
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
