[Service]
Type=exec
WorkingDirectory=/cb/logbook.rrdxa.org/rrdxa-log
ExecStart=/cb/logbook.rrdxa.org/rrdxa-log/gather/cluster dxc.ve7cc.net 23
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
