{% extends 'rrlog/rrdxa.html' %}
{% load humanize %}
{% load static %}

{% block header %}
<script src="{% static 'dxchallenge/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'dxchallenge/ol.css' %}">

<style>
  .map {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 2.15 / 1;
  }
</style>
{% endblock %}

{% block content %}
<h1>{{title}}</h1>

<div>
<a href="https://rrdxa.org/dx-challenge-2025/"><b>Zu den Challenge-Regeln</b></a> |
<a href="/dxchallenge/{{year|add:'-1'}}/">{{year|add:'-1'}} &lt;&lt;</a> |
<a href="/dxchallenge/{{year|add:'1'}}/">&gt;&gt; {{year|add:'1'}}</a>
{% if not band %}
| <a href="./"><b>ALL</b></a>
{% else %}
| <a href="./">ALL</a>
{% endif %}
{% for b in bands %}
{% if b == band %}
| <a href="./"><b>{{b}}</b></a>
{% else %}
| <a href="?band={{b}}">{{b}}</a>
{% endif %}
{% endfor %}
</div>

<div id="map" class="map" style="resize: vertical; overflow: hidden;"></div>

<table border=0 width="100%">
<thead>
<tr>
 <th>CW</th>
 <th>PHONE</th>
 <th>DIGI</th>
 <th>FT8</th>
 <th>MIXED</th>
</tr>
</thead>

<tr>
<td valign="top" width="12%"> {% for entry in entries.CW %}    <span onmouseenter="hilight('{{entry.call}}', 'CW')"    onmouseleave="dehilight('{{entry.call}}')" class="{{entry.call}}">{{entry.rank|default_if_none:''}} {{entry.call}} {{entry.bandslots}}</span> <br> {% endfor %} </td>
<td valign="top" width="12%"> {% for entry in entries.PHONE %} <span onmouseenter="hilight('{{entry.call}}', 'PHONE')" onmouseleave="dehilight('{{entry.call}}')" class="{{entry.call}}">{{entry.rank|default_if_none:''}} {{entry.call}} {{entry.bandslots}}</span> <br> {% endfor %} </td>
<td valign="top" width="12%"> {% for entry in entries.DIGI %}  <span onmouseenter="hilight('{{entry.call}}', 'DIGI')"  onmouseleave="dehilight('{{entry.call}}')" class="{{entry.call}}">{{entry.rank|default_if_none:''}} {{entry.call}} {{entry.bandslots}}</span> <br> {% endfor %} </td>
<td valign="top" width="12%"> {% for entry in entries.FT8 %}   <span onmouseenter="hilight('{{entry.call}}', 'FT8')"   onmouseleave="dehilight('{{entry.call}}')" class="{{entry.call}}">{{entry.rank|default_if_none:''}} {{entry.call}} {{entry.bandslots}}</span> <br> {% endfor %} </td>
<td valign="top" width="12%"> {% for entry in entries.MIXED %} <span onmouseenter="hilight('{{entry.call}}', 'MIXED')"   onmouseleave="dehilight('{{entry.call}}')" class="{{entry.call}}">{{entry.rank|default_if_none:''}} {{entry.call}} {{entry.bandslots}}</span> <br> {% endfor %} </td>
<td valign="top" width="40%">
<div id="datadiv"></div>
</td>
</tr>
</table>

<script>
var data = {{data|safe}};

// main vector layer
var countryStyle = new ol.style.Style({
    fill: new ol.style.Fill({
        color: 'rgba(100, 100, 100, 0.3)',
    }),
    stroke: new ol.style.Stroke({
        color: '#319FD3',
        width: 1,
    }),
});
var labelStyle = new ol.style.Style({
    text: new ol.style.Text({
        font: '12px Calibri,sans-serif',
        fill: new ol.style.Fill({
            color: '#000',
        }),
        stroke: new ol.style.Stroke({
            color: '#fff',
            width: 3,
        }),
        overflow: true,
    }),
});
var style = [countryStyle, labelStyle];

var mapstyle = function (feature) {
    // place label on biggest polygon only
    var geom = feature.getGeometry();
    if (geom.getType() == 'MultiPolygon') {
        var polys = geom.getPolygons().sort(function(a, b) {
            var areaA = a.getArea();
            var areaB = b.getArea();
            return areaA > areaB ? -1 : areaA < areaB ? 1 : 0;
        });
        labelStyle.setGeometry(polys[0]);
    } else {
        labelStyle.setGeometry(geom);
    }

    // actual label
    var id = feature.get('cty');
    //var count = feature.get('count');
    //if (count > 1) id += "\n" + count;
    labelStyle.getText().setText(id);

    // shape style
    /*
    if (color.value == "qsl") {
        if (feature.get('qsl') && feature.get('lotw')) {
            countryStyle.getFill().setColor(pattern(2, all_colors));
        } else if (feature.get('qsl')) {
            countryStyle.getFill().setColor('rgba(0, 0, 200, 0.3)');
        } else if (feature.get('lotw')) {
            countryStyle.getFill().setColor('rgba(0, 200, 0, 0.3)');
        } else {
            countryStyle.getFill().setColor('rgba(100, 100, 100, 0.3)');
        }
    } else if (color.value == "bands") {
        let summaryfeature = vectorSource.getFeatureById('summary');
        let all_bands = summaryfeature.getProperties()['bands'];
        countryStyle.getFill().setColor(make_pattern(all_bands, feature.get('bands')));
    } else if (color.value == "modes") {
        let summaryfeature = vectorSource.getFeatureById('summary');
        let all_modes = summaryfeature.getProperties()['modes'];
        countryStyle.getFill().setColor(make_pattern(all_modes, feature.get('modes')));
    } else if (color.value == "qso_via") {
        let summaryfeature = vectorSource.getFeatureById('summary');
        let all_qso_via = summaryfeature.getProperties()['qso_via'];
        countryStyle.getFill().setColor(make_pattern(all_qso_via, feature.get('qso_via')));
    } else if (color.value == "random") {
        countryStyle.getFill().setColor(random_color());
    } else {
    */
        countryStyle.getFill().setColor('rgba(100, 100, 100, 0.3)');
    //}

    return style;
};


var vectorSource = new ol.source.Vector({
    url: '/static/dxchallenge/dxcc.json',
    format: new ol.format.GeoJSON(),
});
var vectorLayer = new ol.layer.Vector({
    source: vectorSource,
    style: mapstyle,
});

const OSMSource = new ol.source.OSM({
    url: 'https://{a-c}.tile.openstreetmap.de/{z}/{x}/{y}.png',
    //attributions: [],
});

const map = new ol.Map({
    target: 'map',
    layers: [
        new ol.layer.Tile({ source: OSMSource, }),
        vectorLayer,
    ],
    view: new ol.View({
        center: [0, 0],
        zoom: 2,
        projection: ol.proj.get("EPSG:4326"),
    }),
});

var dxcc_data = {};
var datadiv = document.getElementById("datadiv");

var show_dxccs = function(call, mode) {
    // text
    var len = data[mode][call].length;
    var ctys = [];
    data[mode][call].forEach(function(dxcc_id) {
        var properties = dxcc_data[dxcc_id].getProperties();
        ctys.push(properties['cty']);
    });
    var text = `${call} worked ${len} distinct entities in ${mode}:\n` + ctys.sort().join(" ");
    datadiv.innerText = text;
    // geo features
    var dxccs = data[mode][call].map(i => dxcc_data[i]);
    vectorSource.clear();
    vectorSource.addFeatures(dxccs);
};

var hilight = function(call, mode) {
    const collection = document.getElementsByClassName(call);
    for (let i = 0; i < collection.length; i++) {
        collection[i].style.backgroundColor = "red";
    }
    show_dxccs(call, mode);
};

var dehilight = function(call) {
    const collection = document.getElementsByClassName(call);
    for (let i = 0; i < collection.length; i++) {
        collection[i].style.backgroundColor = "white";
    }
    show_dxccs("RRDXA", "MIXED");
};

// after loading, move all features (DXCC entities) to a dictionary
var source_loaded = function(evt) {
    vectorSource.removeEventListener('change', source_loaded);
    vectorSource.forEachFeature(function(feature) {
        const id = feature.getProperties()['dxcc'];
        dxcc_data[id] = feature;
    });

    // show all worked countries on page load
    show_dxccs("RRDXA", "MIXED");
};
vectorSource.addEventListener('change', source_loaded);

</script>

{% endblock %}
